body {
  background-color: #652aa4;
}

#meuId {
  color: #652aa4;
}


.minhaDiv {
  background-color: white;
  width: 280px;
  height: 280px;
  margin: 50px auto;
  border-radius: 16px;
}

form {
  margin-left: 16px;
}

button {
  color: white;
  background-color: #0d6efd;
}

button, input {
  width: 80%;
}